.box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 40px;
  width: 100%;
  height: fit-content;
}

#male-list {
  background-color: #4accff;
}

#female-list {
  background-color: #f31b75;
}
