.btn {
  padding: 10px 5px;
  border-radius: 8px;
  border: none;
  color: white;
  margin: 10px;
  cursor: pointer;
}

.primary {
  background-color: blue;
}
.error {
  background-color: red;
}
.warning {
  background-color: orange;
}
.success {
  background-color: #00c030;
}
